<a href="https://colab.research.google.com/github/SEONGHYUN99/ML-for-AI/blob/main/220929_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 중간고사
 CH1~CH5

 커뮤니케이션은 금지, 그외에 인터넷을 가능

In [4]:
from google.colab import drive
drive.mount('/content/MyDrive')

Drive already mounted at /content/MyDrive; to attempt to forcibly remount, call drive.mount("/content/MyDrive", force_remount=True).

In [44]:
cd /content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [45]:
cd ch_03

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_03

## Tasks for today 1
- Open ch3, 4-reshaping_data.ipynb
- Practice pivoting and unstack
- Practice melting and stack

In [23]:
import pandas as pd

long_df = pd.read_csv(
    'data/long_data.csv', usecols=['date', 'datatype', 'value']
).rename(
    columns={'value': 'temp_C'}
).assign(
    temp_F=lambda x: (x.temp_C * 9/5) + 32
)
long_df.head()

  datatype                 date  temp_C  temp_F
0     TMAX  2018-10-01T00:00:00    21.1   69.98
1     TMIN  2018-10-01T00:00:00     8.9   48.02
2     TOBS  2018-10-01T00:00:00    13.9   57.02
3     TMAX  2018-10-02T00:00:00    23.9   75.02
4     TMIN  2018-10-02T00:00:00    13.9   57.02

In [24]:
#Pivot 
long_df

   datatype                 date  temp_C  temp_F
0      TMAX  2018-10-01T00:00:00    21.1   69.98
1      TMIN  2018-10-01T00:00:00     8.9   48.02
2      TOBS  2018-10-01T00:00:00    13.9   57.02
3      TMAX  2018-10-02T00:00:00    23.9   75.02
4      TMIN  2018-10-02T00:00:00    13.9   57.02
..      ...                  ...     ...     ...
88     TMIN  2018-10-30T00:00:00     2.2   35.96
89     TOBS  2018-10-30T00:00:00     5.0   41.00
90     TMAX  2018-10-31T00:00:00    12.2   53.96
91     TMIN  2018-10-31T00:00:00     0.0   32.00
92     TOBS  2018-10-31T00:00:00     0.0   32.00

[93 rows x 4 columns]

In [25]:
pivot_df=long_df.pivot(
    index="date", columns='datatype', values=["temp_F","temp_C"]
)
pivot_df.head()

                    temp_F               temp_C
datatype              TMAX   TMIN   TOBS   TMAX  TMIN  TOBS
date
2018-10-01T00:00:00  69.98  48.02  57.02   21.1   8.9  13.9
2018-10-02T00:00:00  75.02  57.02  62.96   23.9  13.9  17.2
2018-10-03T00:00:00  77.00  60.08  60.98   25.0  15.6  16.1
2018-10-04T00:00:00  73.04  53.06  53.06   22.8  11.7  11.7
2018-10-05T00:00:00  73.94  53.06  66.02   23.3  11.7  18.9

In [26]:
#Unstack
multi=long_df.set_index(['date', 'datatype'])
multi.head()

                              temp_C  temp_F
date                datatype
2018-10-01T00:00:00 TMAX        21.1   69.98
                    TMIN         8.9   48.02
                    TOBS        13.9   57.02
2018-10-02T00:00:00 TMAX        23.9   75.02
                    TMIN        13.9   57.02

In [27]:
multi.unstack().head(5)

                    temp_C             temp_F
datatype              TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01T00:00:00   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02T00:00:00   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03T00:00:00   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04T00:00:00   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05T00:00:00   23.3  11.7  18.9  73.94  53.06  66.02

In [51]:
#Melting
df=pd.read_csv('data/wide_data.csv')
df.head()

         date  TMAX  TMIN  TOBS
0  2018-10-01  21.1   8.9  13.9
1  2018-10-02  23.9  13.9  17.2
2  2018-10-03  25.0  15.6  16.1
3  2018-10-04  22.8  11.7  11.7
4  2018-10-05  23.3  11.7  18.9

In [52]:
melted=df.melt(
    id_vars='date',
    var_name='measurement',
    value_vars=['TMAX','TMIN','TOBS'],
    value_name='temp_C'
)
melted.head()

         date measurement  temp_C
0  2018-10-01        TMAX    21.1
1  2018-10-02        TMAX    23.9
2  2018-10-03        TMAX    25.0
3  2018-10-04        TMAX    22.8
4  2018-10-05        TMAX    23.3

In [53]:
#Stack
df.set_index('date',inplace=True)
df.head()

            TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [54]:
stacked=df.stack()

In [57]:
stacked.head()

date
2018-10-01  TMAX    21.1
            TMIN     8.9
            TOBS    13.9
2018-10-02  TMAX    23.9
            TMIN    13.9
dtype: float64

## Tasks for today 2
- Open ch3, 5- handling_data_issues.ipynb
- Practice Finding problematic data part
- Practice Mitigating Issues part

In [60]:
#Find problematic data aprt
df=pd.read_csv('data/dirty_data.csv' )

In [61]:
df.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               765 non-null    object
 1   station            765 non-null    object
 2   PRCP               765 non-null    float64
 3   SNOW               577 non-null    float64
 4   SNWD               577 non-null    float64
 5   TMAX               765 non-null    float64
 6   TMIN               765 non-null    float64
 7   TOBS               398 non-null    float64
 8   WESF               11 non-null     float64
 9   inclement_weather  408 non-null    object
dtypes: float64(7), object(3)
memory usage: 59.9+ KB

In [65]:
contains=df[
    df.SNOW.isna()|df.SNWD.isna()|df.TOBS.isna()|df.WESF.isna()|df.inclement_weather.isna()
]
contains.head(5)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [77]:
#Mitigating issue parts
df.date=pd.to_datetime(df.date)
station_qm_wesf=df[df.station=="?"].drop_duplicates('date').set_index('date').WESF
station_qm_wesf
df.sort_values('station', ascending=True, inplace=True)
df_deduped=df.drop_duplicates('date')

date
2018-01-01     NaN
2018-01-04    19.3
2018-01-05     NaN
2018-01-07     NaN
2018-01-08     NaN
              ...
2018-12-27     NaN
2018-12-28     NaN
2018-12-29     NaN
2018-12-30     NaN
2018-12-31     NaN
Name: WESF, Length: 232, dtype: float64

## Tasks for today 3
- Open ch4, 1- querying_and_merging.ipynb
- Practice Filtering data
- Find all entries where datatype is “PRCP“ and station 
ID containing “S0007”
- How many unique values in “attributes” variable?
- What is the most frequent one?

In [80]:
cd /content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [81]:
cd ch_04

/content/MyDrive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [82]:
weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [84]:
weather[
    (weather.datatype=='PRCP')
    & weather.station.str.contains('S0007')
]

                      date datatype            station attributes  value
79     2018-01-01T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
311    2018-01-02T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
545    2018-01-03T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
788    2018-01-04T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.1
1044   2018-01-05T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   18.0
...                    ...      ...                ...        ...    ...
77762  2018-12-27T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0
77974  2018-12-28T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    4.3
78191  2018-12-29T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,   25.9
78408  2018-12-30T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.3
78641  2018-12-31T00:00:00     PRCP  GHCND:US1NYNS0007       ,,N,    0.0

[349 rows x 5 columns]

In [90]:
weather['attributes'].unique().shape[0]

26

In [96]:
weather['attributes'].value_counts()

,,N,         34153
,,W,         21241
,,7,0700      8534
,,W,2400      6641
,,7,          2679
T,,N,         1886
H,,S,         1095
,,7,0800      1034
,,7,0630       715
T,,W,2400      293
T,,W,          250
T,,7,0700      137
T,,7,           50
,L,N,           29
,,Z,             7
T,,7,0630        6
,Z,7,0700        6
,I,N,            5
,,N,0700         4
,Z,W,            4
T,,N,0700        3
,Z,7,            2
,,Z,0700         2
T,I,N,           2
,G,7,0800        1
,S,W,2400        1
Name: attributes, dtype: int64

In [98]:
weather['attributes'].value_counts().sort_values(ascending=False)

,,N,         34153
,,W,         21241
,,7,0700      8534
,,W,2400      6641
,,7,          2679
T,,N,         1886
H,,S,         1095
,,7,0800      1034
,,7,0630       715
T,,W,2400      293
T,,W,          250
T,,7,0700      137
T,,7,           50
,L,N,           29
,,Z,             7
T,,7,0630        6
,Z,7,0700        6
,I,N,            5
,,N,0700         4
,Z,W,            4
T,,N,0700        3
,Z,7,            2
,,Z,0700         2
T,I,N,           2
,G,7,0800        1
,S,W,2400        1
Name: attributes, dtype: int64

## Tasks for today 4
- Practice Merging DataFrames
- Try to understand inner join, left join, right join and 
outer join.
- Explain it to teammates (one by one)